* {
  box-sizing: border-box;
}
img {
  /* width: 100%; */
  /* display: block; */
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
header {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}
.logo > img {
  height: 59px;
}
h1 {
  font-size: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.restaurant {
  display: flex;
  padding: 30px;
}
.restaurant .description {
  margin-right: 30px;
}
.restaurant p {
  color: #868a8a;
  font-size: 1.2rem;
  line-height: 1.5;
}
.restaurant img {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  background: #f3f5f5;
}
.content {
  background-color: #f2f5f5;
  display: flex;
}
.categories {
  display: flex;
  flex-direction: column;
}

.categorie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.meals {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.meal {
  width: 50%;
  min-width: 300px;
  padding: 0 10px 25px;
}
.card {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: 166px;
}
.card:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}
.meal .picture {
  height: 136px;
  width: 135px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.meal .picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.meal .description {
  flex: 1 1;
  margin-right: 15px;
}
.meal .description p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1rem;
}
.meal .description .bottom-pane {
  display: flex;
}
.meal .description .bottom-pane .price {
  color: #808484;
  font-size: 1.1rem;
}
.meal .description .bottom-pane .popular {
  color: #ff8000;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 204, 198, 0.5);
  z-index: 1;
}
.panier {
  width: 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px 0;
}
.panier .card {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  background: #fff;
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.panier .empty-message {
  text-align: center;
  margin: 15px 0;
}
.panier button {
  display: block;
  margin: 10px 0;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}
.panier button[disabled] {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}
.panier .article {
  max-height: 200px;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}
.panier .articles .detail {
  display: flex;
  padding: 10px 0px;
  overflow: auto;
}
.panier .counter {
  display: flex;
}
.panier .counter svg {
  color: #00cdbd;
}
.panier .counter .value {
  margin: 0 5px;
}
.panier .articles,
.panier .ship-cost {
  border-bottom: 1px solid #d1d7d7;
}
.panier .sub-cost,
.panier .ship-cost {
  padding: 5px 0;
}
.panier .total-cost {
  padding: 5px 0;
}
